
 <!-- render 'reports/summary_by_order' -->
<h1>2016</h1>
<table class="table">
	<thead>
		<tr>
			<td>Month</td>
			<td>Revenue</td>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>



<div class="container">
	<div class="jumbotron">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Name</th>
					<th class="text-center">Email</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<th>						
						<%= link_to user.name, report_path(user), class: "btn btn-block" %>
					</th>
					<th>
						<%= mail_to user.email, user.email, class: "btn btn-block" %>
					</th>
				</tr>
				<% end %>	
			</tbody>
		</table>
	
	</div>
</div>






<hr>
<!-- <h1>Montly report</h1> -->








