
 <!-- render 'reports/summary_by_order' -->


<div class="container">
	<div class="jumbotron">
		<ul class="nav nav-pills nav-stacked">
			<% @users.each do |user| %>
				<li role="presentation"><%= link_to user.name, controller: "reports", action: "show", id: user %></li>
			<% end %>
		</ul>
		
		<%= @order_total_count_array %>
		<h1>Each user sub total is</h1>
		<% @user_total_count_array.each do |h| %>
			<h1><%= h %></h1>
		<% end %>
		<hr>
		<% count_total = 0%>
		<% @user_total_count_array.each do |count| %>
			<% count_total = count_total + count %>
		<% end %>
		<%= count_total %>
		
		
	
	</div>
</div>






<hr>
<!-- <h1>Montly report</h1> -->








